body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #f9f9f9;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
}

h1, .title {
    font-weight: 700;
}
.titulo, .mensaje {
    color: black; 
    font-size: 36px;
    font-family: "Inter", sans-serif;
}


.btn-primary {
    background-color: #A60F46;
    border-color: #8C0436;
}
.btn-secondary {
    background-color: #555;
    border-color: #555;
}
